@keyframes marquee-animation {
	0% {
		transform: translateZ(0);
	}
	to {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes accordion-animation-up {
	0% {
		height: var(--reka-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes accordion-animation-down {
	0% {
		height: 0;
	}
	to {
		height: var(--reka-accordion-content-height);
	}
}

@keyframes fade-animation-in {
	0% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-animation-out {
	0% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-animation-in-from-right {
	0% {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-animation-out-to-right {
	0% {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes scale-animation-in {
	from {
		opacity: 0;
		transform: scale(0.95);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes scale-animation-out {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.95);
	}
}
