@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--default-font-family: var(--font-main);
	--font-main: "Inter", "sans-serif";
	--font-latto: "Lato", system-ui, sans-serif;
}

:root {
	--ui-radius: 0.5rem;
}

.router-link-active,
.router-link-active-exact {
	@apply text-primary;
}

@keyframes marquee-animation {
	0% {
		transform: translateZ(0);
	}
	to {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes accordion-animation-up {
	0% {
		height: var(--reka-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes accordion-animation-down {
	0% {
		height: 0;
	}
	to {
		height: var(--reka-accordion-content-height);
	}
}
