@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--color-night: #000000;
	--color-day: #ffffff;
	--font-main: "Inter", "sans-serif";
	--font-roboto: "Roboto", system-ui, sans-serif;
	--font-latto: "Lato", system-ui, sans-serif;
}

:root {
	--ui-radius: 0.5rem;
}
