@import "tailwindcss";
@import "./index.css";
@import "./keyframes.css";

@theme {
	--default-font-family: var(--font-main);
	--font-main: "Inter", "sans-serif";
	--font-latto: "Lato", system-ui, sans-serif;

	/* TODO: organize css files */
	--ui-container: 80rem;
}

html {
	scroll-behavior: smooth;
}

*:focus-visible {
	@apply outline-primary outline-2 outline-offset-4;
	transition: outline-color 0s;
}

.router-link-active,
.router-link-active-exact,
.router-link-active .menu-icon,
.router-link-active-exact .menu-icon {
	@apply text-primary;
}
