@import "./ui.css";

@layer theme {
	:root,
	:host {
		--ui-header-height: --spacing(16);
		--ui-container: 80rem;
	}

	:root,
	:host {
		--ui-text-dimmed: var(--ui-color-neutral-500);
		--ui-text-muted: var(--ui-color-neutral-400);
		--ui-text-toned: var(--ui-color-neutral-300);
		--ui-text: var(--ui-color-neutral-200);
		--ui-text-highlighted: white;
		--ui-text-inverted: var(--ui-color-neutral-900);

		--ui-bg: var(--ui-color-neutral-900);
		--ui-bg-muted: var(--ui-color-neutral-800);
		--ui-bg-elevated: var(--ui-color-neutral-800);
		--ui-bg-accented: var(--ui-color-neutral-700);
		--ui-bg-inverted: white;

		--ui-border: var(--ui-color-neutral-800);
		--ui-border-muted: var(--ui-color-neutral-700);
		--ui-border-accented: var(--ui-color-neutral-700);
		--ui-border-inverted: white;

		--ui-radius: 0.5rem;
	}
}
